openapi: 3.1.0
info:
  title: PANTHEON Sacred Actions API
  description: This API enables sacred interactions within the PANTHEON system, including alliance invitations, archetype matching, and tokenomic proposals.
  version: 1.0.0
  servers:
  - url: https://pantheon-placeholder.api.com
    description: Placeholder server for GPT Builder validation
paths:
  /invite-alliance:
    post:
      summary: Send a sacred alliance invitation
      operationId: inviteAlliance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                to:
                  type: string
                message:
                  type: string
              required:
                - to
                - message
      responses:
        '200':
          description: Alliance invitation sent successfully
  /match-archetype:
    post:
      summary: Match an individual to their divine archetype
      operationId: matchArchetype
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                traits:
                  type: array
                  items:
                    type: string
              required:
                - name
                - traits
      responses:
        '200':
          description: Archetype matched successfully
  /propose-tokenomics:
    post:
      summary: Propose a new sacred tokenomic structure
      operationId: proposeTokenomics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                proposalName:
                  type: string
                details:
                  type: string
              required:
                - proposalName
                - details
      responses:
        '200':
          description: Tokenomic proposal submitted